<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title)">
    <meta charset="UTF-8" name="viewport"
          content="width=device-width, intial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title th:text="${title}"></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{img/fabicon.ico}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet"/>
</head>

<body>
<h1>Edwin's site</h1>

<!--<div id="hideMe">-->
    <!--<a onclick="getNuecesApartments()" class="btn btn-outline btn-outline-primary d-inline-block">Nueces</a>-->
    <!--<a onclick="getLakeshorePearl()" class="btn btn-outline btn-outline-primary d-inline-block">Lakeshore</a>-->
    <!--<a onclick="getLenoxBoardwalk()" class="btn btn-outline btn-outline-primary d-inline-block">Lenux Boardwalk</a>-->
<!--</div>-->

<!--<div id="sensors">-->
    <!--<a onclick="getTemperature1()" class="btn btn-outline btn-outline-primary d-inline-block">Temperature</a>-->
    <!--<a onclick="getHumidity1()" class="btn btn-outline btn-outline-primary d-inline-block">Humidity</a>-->
    <!--<a onclick="getMoisture1()" class="btn btn-outline btn-outline-primary d-inline-block">Moisture</a>-->
<!--</div>-->

<br/>
<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-12 col-lg-6 col-xl-6 d-flex flex-column">
            <div class="card h-100">
               <h4>Hello, this is Edwin's site, a multipurpose site used as a REST server, and other local purposes within Oracle.</h4>
                <br/>
                <h4>If you are in this site then you should know where to go for whatever purpose you ended up here.  If not, please close this page.</h4>
                <div id="questions"></div>
            </div>
        </div>
    </div>
</div>


    <!--<div class="container">-->
        <!--<p class="lead">Apartment Listings at www.2400nuecesapartments.com</p>-->
        <!--<div class="col-sm-12 col-lg-6 col-xl-12 d-flex flex-column">-->
            <!--<table class="table table-striped">-->
                <!--<thead>-->
                <!--<tr>-->
                    <!--<th scope="col">Date</th>-->
                    <!--<th scope="col">Title</th>-->
                    <!--<th scope="col">Status</th>-->
                    <!--<th scope="col">Plan and Price</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--<tr th:each="apartment : ${Apartments}">-->
                    <!--<td th:text="${apartment.getDate()}"></td>-->
                    <!--<td th:text="${apartment.getTitle()}"></td>-->
                    <!--<td th:text="${apartment.getInfo()}"></td>-->
                    <!--<td th:text="${apartment.getPrice()}"></td>-->
                    <!--&lt;!&ndash;<li th:text="'Date: ' + ${apartment.getDate()}"></li>&ndash;&gt;-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->
    <!--</div>-->

<div th:fragment="scripts">
    <script th:src="@{/js/jquery-2.2.4.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/sensors.js}"></script>
</div>

</body>
</html>