<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<h1>Apartment scraper dot com</h1>
    <div>
        <p>Apartment Listings</p>
        <div>
            <th:block th:each="apartment : ${apartments}">
                <div th:text="'Title: ' + ${apartment.getTitle()}"></div>
                <ul >
                    <li th:text="'Status: ' + ${apartment.getInfo()}"></li>
                    <li th:text="'Plan and Price: ' + ${apartment.getPrice()}"></li>
                    <li th:text="'Date: ' + ${apartment.getDate()}"></li>
                </ul>
            </th:block>
        </div>
    </div>
</body>
</html>