<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title)">
    <meta charset="UTF-8" name="viewport"
          content="width=device-width, intial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title th:text="${title}"></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{img/fabicon.ico}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet"/>
</head>

<body>
<h1>Apartment scraper dot com</h1>
    <div>
        <p>Apartment Listings</p>
        <table>
            <tr>
                <th>Date</th>
                <th>Title</th>
                <th>Status</th>
                <th>Plan and Price</th>
            </tr>
            <tr th:each="apartment : ${apartments}">
                <td th:text="${apartment.getDate()}"></td>
                <td th:text="${apartment.getTitle()}"></td>
                <td th:text="${apartment.getInfo()}"></td>
                <td th:text="${apartment.getPrice()}"></td>
                    <!--<li th:text="'Date: ' + ${apartment.getDate()}"></li>-->
            </tr>
        </table>
    </div>
</body>
</html>